@media screen and (min-width:780px)  {

  button{
    font-size:19px;
  }

  h3{
    font-size:24px;
  }
  /*Start page*/

  #header h1{
    font-size: 55px;
  }

  #startpagediv{
    max-width:660px;
  }

  #startpagediv h1{
    font-size:50px;
  }
  
  #startpagediv #instructionsintro p{
     font-size: 18px;
   }

  #startpagediv #instructions p{
    font-size:18px;
  }

  /*Round 1 styling*/
  .playerdiv{
    font-size:24px;
  }

  h2{
    font-size:33px;
    margin-top:15px;
  }

  #container{
    display:flex;
    justify-content:center;
  }

  #container div{
    width:45%;
    margin:15px;
  }
  
  #container img {
    min-width: 400px;
  }

/*Round 2 styling*/

#Round2{
  
}

#Round2 h2{
  text-align:center;
}

.cityinput{
  width:200px;
}

#round2input{
  width:90%;
  display:flex;
  
}

  #round5In .imgbuy, #round5In .imgdesserts, #round5In .imgarts, #round5In .imgotheractive {
   min-width: 400px;
   max-width: 400px;
 }
  #round5In .imgbuy {
    min-width: 400px;
    max-width: 400px;
  }
  #choice3 img {
   min-width: 300px;
   max-width: 300px;
 }
 #choice4 img {
   min-width: 300px;
   max-width: 300px;
 }
 #choice5 img {
   min-width: 300px;
   max-width: 300px;
 }
 #choice6 img {
   min-width: 300px;
   max-width: 300px;
 }
  #event img {
    min-height: 250px;
    max-height: 250px;
    min-width: 400px;
    max-width: 400px;
  }
  #event {
    height:450px;
  }
  #round5In {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  #round6In {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
}