*{
  margin:0;
  padding: 0;
}

input {background-color: #ddd;}

body {
  background-color: #ddd;
}
a{
  text-decoration:none;
  color:#feaf80;
}

a:hover {
  text-decoration: underline;
}

#header a:hover {
  text-decoration: none;
}

@font-face{
  font-family:'Cabin';
  src:url("../fonts/Cabin.ttf");
}
@font-face{
  font-family:'Blacklist';
  src:url("../fonts/Blacklist.ttf");
}
#header{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-image: url("../images/header_image.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    /*-webkit-box-shadow: 2px 10px 32px -12px rgba(0,0,0,1);
-moz-box-shadow: 2px 10px 32px -12px rgba(0,0,0,1);
box-shadow: 2px 10px 32px -12px rgba(0,0,0,1);*/
}
#header h1{
    color: #feaf80;
    font-family: 'Blacklist';
    padding:10px;
    font-size:45px;
    font-style:italic;
    letter-spacing: 2px;
    text-shadow: 1px 1px 15px #000;
}
.moneyicons2 {
  display: flex;
  flex-direction: row;
}
#startpagediv #instructions button {
  border-radius:5px;
  border:none;
  width:90%;
}
h2 {
  display: flex;
  justify-content: center;
  font-family: 'Cabin', sans-serif;
  color: #100601c2;
  font-size:25px;
  margin:30px 0;
}
h3{
  font-family:'Cabin';
  color: #65293a;
  margin-bottom:10px;
  text-align:center;
}
#homepage{
  display:flex;
  flex-direction:column;
  align-items:center;
}
#startpagediv h1 {
  font-size: 33px;
  font-family: 'Blacklist', sans-serif;
  font-style:italic;
  color: #feaf80;
  font-weight: bold;
  text-shadow: 0px 0px 3px #000;
  letter-spacing:1px;
  margin:10px 0 7px 0;
}

#startpagediv span{
  font-size:23px;
}
#startpagediv {
  background-color: rgb(101, 41, 58);
  width: 90%;
  margin:50px auto;
  height: auto;
  position: relative;
  display:flex;
  border-radius:5px;
  }
  #startpagediv #instructionsintro{
    padding-bottom:9px;
    background-color:rgb(70, 29, 40);
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    border-radius:5px 5px 0 0;
    -webkit-box-shadow: 2px 10px 32px -12px rgba(0,0,0,1);
-moz-box-shadow: 2px 10px 32px -12px rgba(0,0,0,1);
box-shadow: 2px 7px 32px -12px rgba(0,0,0,1);
  }
  #startpagediv #instructions{
    width:87%;
    margin-top:30px;
  }
  #startpagediv .intro{
    font-style:italic;
    font-size:16px;
  }
  span{
    font-size:30px;
    font-family: 'Blacklist';
    letter-spacing:1px;
    color: #feaf80;
  }
  #startpagediv p{
    font-family:'Cabin';
    font-size:15px;
    text-align:center;
    color:#fff;
  }
  #startpagediv button{
    width:90%;
    margin:20px 0 20px 0;
  }

  /*Round 1 Styling*/
#Round1{
  display:flex;
  flex-direction:column;
  align-items:center;
}
#Round1 #container{
  width:90%;
}
#Round1 #container img{
 width: 85%;
 -webkit-box-shadow: 2px 10px 32px -12px rgba(0,0,0,1);
 -moz-box-shadow: 2px 10px 32px -12px rgba(0,0,0,1);
 box-shadow: 2px 7px 32px -12px rgba(0,0,0,1);
 margin: 0 0 20px 0;
}
#Round1 #container button{
  width: 80%;
  margin-bottom:35px;
}

/*Round 2 Styling*/
#Round2{
  display:flex;
  flex-direction:column;
  align-items:center;
}
#Round2 input {
  border: 1px solid #cdbcb1;
  border-radius:2px;
  padding: 7px;
  font-family: Cabin;
  background-color: #ddd;
  -webkit-box-shadow: 2px 4px 32px -15px rgba(0,0,0,1);
-moz-box-shadow: 2px 4px 32px -15px rgba(0,0,0,1);
box-shadow: 2px 4px 32px -15px rgba(0,0,0,1);
margin-bottom:20px;
}

.date-range-span {
  display: inline-block;
  margin: 0 10px;
}

.price-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
#Round2 input:hover{
 -webkit-box-shadow: 2px 4px 32px -11px rgba(0,0,0,1);
-moz-box-shadow: 2px 4px 32px -11px rgba(0,0,0,1);
box-shadow: 2px 4px 32px -11px rgba(0,0,0,1);
}
#Round2 input[type=text]{
  color: #7f6f66;
  background-color: #ddd;
  font-family: Cabin;
}
#Round2 input::placeholder{
  font-family: 'Cabin', sans-serif;
  font-size: 15px;
  color: #100601c2;
}

.cityinput{

}

#questionform{
  display:flex;
  flex-direction:column;
  align-items:center;
  /* background-color: #864255; */
  border-radius:3px;
}

#questionform h3{
  color: #ddd;
  font-weight:100;
}

#round2input{
  margin-top:10px;
}
#Round2 #date{
  width:90%;
  display:flex;
  flex-direction:column;
  align-items: center;
}

#price{
  width:90%;
  display:flex;
  flex-direction:column;
}
#Round2 button{
  width:100%;
  /* margin-bottom:20px; */
}
.submit{
  display:flex;
  flex-direction:column;
  align-items:center;
}

#round2input{
  display:flex;
  flex-direction:column;
  align-items:center;
}


#dateinput{
  width:90%;
  display:flex;
  justify-content:center
}


/*Round 3 Styling*/
#round3{
  width:90%;
}
#round3 img{
  width: 50%;
  margin:0 auto 13px;
}
#round3 input{
  display:block;
  margin:0 auto;
}
#round3 label, #round7 label, #round8 label {
  font-family:'Cabin';
  font-weight:800;
  font-size:24px;
  color:#65293a;
  cursor: pointer;
  margin-bottom:25px;
}

input[type=checkbox]{
    visibility: hidden;
}

.btn3{
  width: 25%;
}
.btn3 button{
  width: 100%;
}
.clicked{
 -webkit-box-shadow: 0px 4px 5px 0px rgb(80, 33, 46);
-moz-box-shadow: 0px 4px 5px 0px rgb(80, 33, 46);
box-shadow: 0px 0px 15px 10px rgb(80, 33, 46);
}

/*Start of tindertime*/
#icon1, #icon2 {
    font-size:55px;
  }

/*Start of tindertime*/
#icon1:hover {
  color:grey;
}
#icon2:hover {
  color:grey;
}
#icon1{
  font-size: 30px;
  color: red;
  cursor:default;
}
#icon2 {
  cursor: default;
  color: green;
  font-size: 30px;
}

#icon1, #icon2 {
    font-size:55px;
  }

#eventpageholder {
  margin: 0 auto;
  width:90%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
#eventpageholder div{
  font-family: 'Cabin';
  font-size:18px;
  font-style:italic;
}
#eventpageholder button{
  width: 50%;
  margin-top: 15px;
}

#eventpageholder #button{
  margin-top:10px;
}
#event img, .show img, .hide img {
  width:100%;
  min-width: 250px;
  display: block;
  border-radius: 5px 5px 0 0;
}

#event, .show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  margin-top: 100px;
  border-radius: 6px;
  height: auto;
  width: 90%;
  max-width: 410px;
  box-shadow: 2px 7px 21px 2px rgba(0,0,0,0.57);
  top:70px;
  margin-bottom:20px;
}

.show {
  height: auto;
}

#eventpageholder h3{
  font-size:18px;
  margin:17px 0 2px 0;
  color:#ddd8d5;
  letter-spacing:.5px;
}

#eventpageholder p{
  font-size:18px;
  color: #ddd8d5;
  letter-spacing:.5px;
}
#eventpageholder .text, .show .text{
  display:flex;
  flex-direction:column;
  align-items:center;
  background: -webkit-linear-gradient(#7d3247, #431c26); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#7d3247, #431c26); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#7d3247, #431c26); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#7d3247, #431c26); /* Standard syntax */
  width: 400px;
  margin-top:  5px;
  padding: 0 0 10px 0;
  -webkit-box-shadow: 2px 10px 32px -12px rgba(0,0,0,1);
  -moz-box-shadow: 2px 10px 32px -12px rgba(0,0,0,1);
  box-shadow: 2px 10px 32px -12px rgba(0,0,0,1);
  border-radius: 0 0 5px 5px;
}

.show .text {
  margin-bottom: 5px;
}

.playerdiv{
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #65293a;
  color: white;
  font-family: 'Cabin';
  padding:8px;
  font-size:18px;
  letter-spacing:1px;
}
.round2inputhide {
  display: none;
}
.round2inputshow {
  display: block;
}
.submit {
  text-align: center;
}
button {
  cursor:pointer;
  font-family: 'Cabin', sans-serif;
  font-size:16px;
  background: -webkit-linear-gradient(#7d3247, #32151d); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#7d3247, #32151d); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#7d3247, #32151d); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#7d3247, #32151d); /* Standard syntax */
  padding: 10px 0px 10px 0px;
  border-radius: 3px;
  color: white;
  border:none;
}

.choice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
img {
/*   min-width: 350px;
  max-width: 350px;
  padding: 17px; */
  border-radius: 6px;
}
.hide {
  display: none;
}
.show a {
  text-decoration: none;
}
#startpagediv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#fix {
  width: 100%;
  height: 500px;
  background-color: #ddd;
  position: absolute;
  z-index: 0;
}
