*{
  margin:0;
  padding: 0;
}

#icon1:hover {
  color:grey;
}

#icon2:hover {
  color:grey;
}

#icon1{
  font-size: 30px;
  color: red;
  cursor:default;
}
#icon2 {
  cursor: default;
  color: green;
  font-size: 30px;
}

@font-face{
  font-family:'Cabin';
  src:url("../fonts/Cabin.ttf");
}

@font-face{
  font-family:'Blacklist';
  src:url("../fonts/Blacklist.ttf");
}

#header{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-image: url("../images/header_image.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    -webkit-box-shadow: 2px 10px 32px -12px rgba(0,0,0,1);
-moz-box-shadow: 2px 10px 32px -12px rgba(0,0,0,1);
box-shadow: 2px 10px 32px -12px rgba(0,0,0,1);
}

#header h1{
    color: #feaf80;
    font-family: 'Blacklist';
    padding:10px;
    font-size:50px;
    font-style:italic;
    letter-spacing: 2px;
    text-shadow: 1px 1px 15px #000;
}

/*Home page styling*/
#startpagediv h1 {
  font-size: 30px;
  font-family: 'Blacklist', sans-serif;
  font-style:italic;
  color: #feaf80;
  font-weight: bold;
  text-shadow: 0px 0px 3px #000;
  letter-spacing:1px;
  margin-top:10px;
}

#startpagediv {
  background-color: lightgrey;
  padding-bottom:40px;
  width: 90%;
  height: auto;
  margin:0 auto;
  -webkit-animation-name: example;  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s;  /* Safari 4.0 - 8.0 */
  -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  }

  #startpagediv p{
    font-family:'Cabin';
    font-size:12px;
    width
  }

@-webkit-keyframes example {
from {top: 0px;}
to {top: 50px; background-color: lightgrey;}
}

@keyframes example {
from {top: 0px;}
to {top: 50px; background-color: lightgrey;}
}


#startpagediv button {
  border-radius:25px;
}

@-o-keyframes glowing {
  0% { background-color: #65293a; box-shadow: 0 0 3px #65293a; }
  50% { background-color: #feaf80; box-shadow: 0 0 40px #feaf80; }
  100% { background-color: #65293a; box-shadow: 0 0 3px #65293a; }
}

@keyframes glowing {
  0% { background-color: #65293a; box-shadow: 0 0 3px #65293a; }
  50% { background-color: #feaf80; box-shadow: 0 0 40px #feaf80; }
  100% { background-color: #65293a0; box-shadow: 0 0 3px #65293a; }
}
#startpagediv button {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

/*End of home page styling*/



.playerdiv{
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #65293a;
  color: white;
  font-family: 'Open Sans',sans-serif;
}

.round2inputhide {
  display: none;
}

.round2inputshow {
  display: block;
}

.submit {
  text-align: center;
}

button {
  cursor:pointer;
  font-family: 'Cabin', sans-serif;
  background-color: #65293a;
  width: 200px;
  height: 32px;
  border-radius: 5px;
  color: white;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: 'Cabin', sans-serif;
  color: #89766bc2;
}
.choice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

img {
  min-width: 350px;
  max-width: 350px;
  padding: 17px;
  border-radius: 28px;
}

#round2input {
  display: flex;
  justify-content: center;
  padding: 14px;
}

#round2input input {
  border: 1px solid black;
}

#eventpageholder {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

#event img {
  min-width: 250px;
  max-width: 250px;
  display: block;
}

#event {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  margin-top: 100px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
  height: 350px;
  width: 90%;
  box-shadow: 2px 7px 21px 2px rgba(0,0,0,0.57);
}

.hide {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  margin-top: 100px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px;
  height: 435px;
  box-shadow: 2px 7px 21px 2px rgba(0,0,0,0.57);
}
.show a {
  text-decoration: none;
}

#startpagediv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#checkbox {
  padding: 10px;
}
