<div id="startpagediv">
        <h1>Welcome to Date-Off!</h1>

        <p>Having trouble figuring out date night? This app will choose a date for you!</p>
        <p> This game will allow you and your date to choose what types of events or activities you want to do.
        Once you click start this will let the first user choose the types of activities or events that they want to do.
        After the first user chooses it will allow the second user to choose what types of activities
        or events they want to do. Lastly, the game will choose for your date night! Ready to play? Press the start to begin.
        </p>
        <button ng-click="$ctrl.startGame();" player-one-directive button-directive>START</button>
</div>
