<div class="submit">
  <h2>ROUND 3</h2>
  <h3>Type of Event?</h3>
  <div id="round3" >
    <div id ="choice3" class ="choice">
      <label>
        <img src="images/music2_use.jpg" image-directive />
        {{$ctrl.object.choice3}}
        <input type="checkbox" ng-model="$ctrl.object.choice3checked" id="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>

    <div id="choice4" class ="choice">
      <label image-directive>
        <img src="images/sports_use.jpg" image-directive/>
        {{$ctrl.object.choice4}}
        <input type="checkbox" ng-model="$ctrl.object.choice4checked" id="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>

    <div id="choice5" class ="choice">
      <label image-directive>
        <img src="images/family_use.jpg" image-directive/>
        {{$ctrl.object.choice5}}
        <input type="checkbox" ng-model="$ctrl.object.choice5checked" id="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>

    <div id="choice6" class ="choice">
      <label image-directive>
        <img src="images/theatre_use.jpg" image-directive>
        {{$ctrl.object.choice6}}
        <input type="checkbox" ng-model="$ctrl.object.choice6checked" id="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>
    <div class="btn3">
      <button ng-click="$ctrl.routeFunc($ctrl.object);$ctrl.filterArray();$ctrl.tinder();" button-directive>SUBMIT</button>
    </div>
</div>
