<div class="submit">


  <h2>What type of event(s) would you like to attend? ROUND 3</h2>


  <div id="round3">
    <div id ="choice3" class ="choice">
      <img src="images/music2_use.jpg" />
      {{$ctrl.object.choice3}}
      <input type="checkbox" ng-model="$ctrl.object.choice3checked" id="checkbox">
    </div>

    <div id="choice4" class ="choice">
      <img src="images/sports_use.jpg" />
      {{$ctrl.object.choice4}}
      <input type="checkbox" ng-model="$ctrl.object.choice4checked" id="checkbox">
    </div>

    <div id="choice5" class ="choice">
      <img src="images/family_use.jpg" />
      {{$ctrl.object.choice5}}
      <input type="checkbox" ng-model="$ctrl.object.choice5checked" id="checkbox">
    </div>

    <div id="choice6" class ="choice">
      <img src="images/theatre_use.jpg" >
      {{$ctrl.object.choice6}}
      <input type="checkbox" ng-model="$ctrl.object.choice6checked" id="checkbox">
    </div>
    <button class="btn3" ng-click="$ctrl.routeFunc($ctrl.object);$ctrl.tinder();" button-directive>SUBMIT</button>
  </div>
</div>
