<div id="Round1">
    <h2>ROUND 1</h2>
    <div id="container">
        <div id="goout" class ="choice">
            <img src="images/nightout_use.jpg">
            <button ng-click="$ctrl.routeFunc('goout');"  button-directive>Go Out</button>
        </div>
        <div id ="stayin" class ="choice">
            <img src="images/housedate2_use.jpg">
            <button ng-click="$ctrl.routeFunc('stayin');$ctrl.routeFunc($ctrl.object);$ctrl.makeMovieTVRequest();" button-directive>Stay In</button>
        </div>
    </div>
</div>
