<div class="round">
  <div id ="choice3" class="choice">
    <img ng-show="$ctrl.object.atHome" ng-src="images/active.jpg" />
    <img ng-hide="$ctrl.object.atHome" ng-src="images/store.jpeg" />
    <button ng-click="$ctrl.routeFunc($ctrl.object.choice3)" button-directive>{{$ctrl.object.choice3}} </button>
  </div>

  <div id="choice4" class ="choice">
    <img ng-show="$ctrl.object.atHome" ng-src="images/relaxing.jpeg" />
    <img ng-hide="$ctrl.object.atHome" ng-src="images/buysupplies.jpeg" />
    <button ng-click="$ctrl.routeFunc($ctrl.object.choice4)" button-directive>{{$ctrl.object.choice4}}</button>
  </div>
</div>
