<div class="submit">


  <h2>What genre MOVIE do you want to watch?</h2>


  <div id="round7">
    <div id ="choice9" class ="choice">
      <img src="" />
      {{$ctrl.object.choice9}}
      <input type="checkbox" ng-model="$ctrl.obj.choice9checked" id="checkbox">
    </div>

    <div id="choice10" class ="choice">
      <img src="" />
      {{$ctrl.object.choice10}}
      <input type="checkbox" ng-model="$ctrl.obj.choice10checked" id="checkbox">
    </div>

    <div id="choice11" class ="choice">
      <img src="" />
      {{$ctrl.object.choice11}}
      <input type="checkbox" ng-model="$ctrl.obj.choice11checked" id="checkbox">
    </div>

    <div id="choice12" class ="choice">
      <img src="" >
      {{$ctrl.object.choice12}}
      <input type="checkbox" ng-model="$ctrl.obj.choice12checked" id="checkbox">
    </div>
    
    <div id="choice13" class ="choice">
      <img src="" >
      {{$ctrl.object.choice13}}
      <input type="checkbox" ng-model="$ctrl.obj.choice13checked" id="checkbox">
    </div>  
      
  </div>
    <div class="btn3">
      <button ng-click="$ctrl.routeFunc($ctrl.object);$ctrl.tinder();" button-directive>SUBMIT</button>
    </div>
</div>

