<p>Stay in Tinder.html and component is working</p>

<div id="eventpageholder">
    <div ng-repeat="idea in $ctrl.ideas track by $index" id="event">
        <img ng-src="{{idea.Image}}">
        <p>{{ idea.idea }}</p>
        <a href="{{ idea.Details }}">Link to Recipe</a>
        <div id="button">
            <i ng-click="$ctrl.removeSICard($index);" id="icon1" class="material-icons">cancel</i>
            <i ng-click="$ctrl.addSICard($index);" id="icon2" class="material-icons">check</i>
        </div>
    </div>
</div>